<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.url }}/img/htmlflow-gravatar.png">

    <title>HtmlFlow</title>

	<!-- Prism.css for syntax highlight -->
	<link href="{{ site.url }}/css/prism.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/css/cover.css" rel="stylesheet">
</head>

